.product-container {
    padding-top: 4cap;
  
    .title {
      text-align: center;
      font-size: 2.5rem;
      color: #333;
      font-weight: bold;
      font-family: 'Inter', sans-serif;
      margin-bottom: 0.25rem;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(4, minmax(0,1fr));
      justify-items: center;
      align-items: start;
      padding-top: 8rem;
      gap: 12px;
  
      @media (max-width: 750px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
  
      @media (max-width: 450px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        align-items: center;
  }
}

}