.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  height: 100vh;
 
}

.productDetails {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  width: 400px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.textDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .name {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .price {
    font-size: 2rem;

  }
}

.selectorsAndButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.selectors {
  
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

}

.label {
  font-size: 15px;
  margin-bottom: 5px;
}

.colorSelect,
.sizeSelect {
  padding: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
}

.productButton {
  margin-top: 30px;
}

@media screen and (max-width: 750px) {

  .product{
    height: 100%;
  }
  .productDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .imageContainer {
    width: 50%;
  }
  
  .selectorsAndButton {
  
    .productButton {
      margin-top: 5px;
    }
  }
}

@media screen and (max-width: 360px) {

  .product{
    height: 100%;
  }
  .textDetails{
    .name {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  
    .price {
      font-size: 1.2rem;
  
    }
  }
  
}
  
